:root {
  --primary-color: #49beb7;
  --secondary-color: rgb(214, 214, 214);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  min-width: 350px;
}

h1 {
  font-size: 72px;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

h2 {
  font-size: 42px;
  text-align: left;
  margin: 0;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
}

h4 {
  font-size: 24px;
  opacity: 0.7;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
}

.navigation-links a {
  margin: 20px 20px 20px 0;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  font-weight: bold;
  color: white;
}

.primary-link {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Raleway", sans-serif;
  margin-bottom: 200px;
}

.primary-link:hover {
  font-weight: bold;
  color: white;
}

.soon-link {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: rgb(148, 148, 148);
  font-family: "Raleway", sans-serif;
  margin-bottom: 200px;
}

.soon-link:hover {
  font-weight: bold;
  color: rgb(148, 148, 148);
}

.case-study-link {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Raleway", sans-serif;
}

.case-study-link:hover {
  font-weight: bold;
  color: white;
}

.grey {
  border: solid 5px #e7e7e7;
}

#navbarNavDropdown > ul > li.nav-item.active {
  font-weight: bold;
}

.dropdown-menu {
  border: none;
}

.dropdown-item {
  color: rgba(0, 0, 0, 0.55);
}

.dropdown-item:hover {
  color: rgba(0, 0, 0, 0.55);
  font-weight: bold;
}

.dropdown-item:focus {
  background-color: #e9ecef;
}

.dropdown-toggle::after {
  display: none;
}

footer {
  margin: 100px 0;
}

footer .social-links {
  text-align: center;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background-color: white;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 54px;
    text-align: center !important;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
  .home-para {
    text-align: center;
  }

  .navigation-links {
    display: flex;
    justify-content: center;
  }

  .primary-link {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }

  .soon-link {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }

  #portrait-mobile {
    display: block;
  }

  #portrait-desktop {
    display: none;
  }

  #notmobile {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #portrait-mobile {
    display: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .zoom:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  #portrait-desktop {
    display: flex;
    float: right;
  }
}
